*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	width: 100%;
	min-height: 100vh;
	color: black;
	background-color: white;
}
/* Header */
header {
    color: white;
    padding: 1rem 0;
	background-color: black;
	height: 120px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
	background-color: black;
	color: #fff;
}

/* .top {
    width: 100vw; 
    height:100vh; 
    background: url('man-7155142.jpg') no-repeat center center/cover;
} */

.logo{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    justify-content: center;
}

.logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.logo p{
    margin-top: 8px;
}

.logo-section{
    display: flex;
    flex-direction: row;
    position: absolute;
    left:30px;
    top:10px;
}

nav {
    flex: 1;
    text-align: right;
    padding:25px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap:20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: large;
}

.nav-links a:hover {
    color: #00b381;
}

.underline{
    width:155px;
    height:5px;
    margin:2px 0;
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        width: 100%;
        text-align: left;
    }

    .logo {
        margin-bottom: 1rem;
    }
}



/* Conatct Section */
.body-container{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 8%;
	margin-top: 135px;
}
.container .row{
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 1100px;
}
.row section.col{
	display: flex;
	flex-direction: column;
}
.row section.left{
	flex-basis: 35%;
	min-width: 320px;
	margin-right: 60px;
}
.row section.right{
	flex-basis: 60%;
}
section.left .contactTitle h2{
	position: relative;
	font-size: 28px;
	color: #2d6a4f;
	display: inline-block;
	margin-bottom: 25px;
}
section.left .contactTitle h2::before{
	content: '';
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #fff;
	top: 100%;
	left: 0;
	margin-top: -70px;
}
section.left .contactTitle h2::after{
	content: '';
	position: absolute;
	width: 25%;
	height: 3px;
	background-color: #2d6a4f;
	top: calc(120% - 1px);
	left: 0;
}
section.left .contactTitle p{
	font-size: 17px;
	color: #333;
	letter-spacing: 1px;
	line-height: 1.2;
	padding-bottom: 22px;
}
section.left .contactInfo{
	margin-bottom: 16px;
}
.contactInfo .iconGroup{
	display: flex;
	align-items: center;
	margin: 25px 0px;
}
.iconGroup .icon{
	width: 45px;
	height: 45px;
	border: 2px solid #2d6a4f;
	border-radius: 50%;
	margin-right: 20px;
	position: relative;
}
.iconGroup .icon i{
	font-size: 20px;
	color: #333;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.iconGroup .details span{
	display: block;
	color: #333;
	font-size: 18px;
	font-weight: 600;
}
.iconGroup .details span:nth-child(1){
	text-transform: uppercase;
	color: #333;
}
#location-icon {
	border-radius: 50%;
	width: 45px;
	height: 45px;
}

/* Social Media Icon */
section.left .socialMedia{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin: 22px 0px 20px;
}
.socialMedia a{
	width: 35px;
	height: 35px;
	text-decoration: none;
	text-align: center;
	margin-right: 15px;
	border-radius: 5px;
	background-color: #2d6a4f;
	transition: 0.4s;
}
.socialMedia a i{
	color: #333;
	font-size: 18px;
	line-height: 35px;
	border: 1px solid transparent;
	transition-delay: 0.4s;
}
.socialMedia a:hover{
	transform: translateY(-5px);
	background-color: #fff;
	color: #2d6a4f;
	border: 1px solid #2d6a4f;
}
.socialMedia a:hover i{
	color: #2d6a4f;
}

/* Code for the right section (column) */

.row section.right .messageForm{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 30px;
}
.row section.right .inputGroup{
	margin: 18px 0px;
	position: relative;
}
.messageForm .halfWidth{
	flex-basis: 48%;
}
.messageForm .fullWidth{
	flex-basis: 100%;
}
.messageForm input, .messageForm textarea{
	width: 100%;
	font-size: 18px;
	padding: 2px 0px;
	background-color: #fff;
	color: #333;
	border: none;
	border-bottom: 2px solid #666;
	outline: none;
}
.messageForm textarea{
	resize: none;
	height: 220px;
	display: block;
}
textarea::-webkit-scrollbar{
	width: 5px;
}
textarea::-webkit-scrollbar-track{
	background-color: #fff;
	border-radius: 15px;
}
textarea::-webkit-scrollbar-thumb{
	background-color: dodgerblue;
	border-radius: 15px;
}
.inputGroup label{
	position: absolute;
	left: 0;
	bottom: 4px;
	color: #333;
	font-size: 18px;
	transition: 0.4s;
	pointer-events: none;
}
.inputGroup:nth-child(4) label{
	top: 2px;
}
.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label
{
	transform: translateY(-30px);
	font-size: 16px;
}
.inputGroup button{
	padding: 8px 16px;
	font-size: 18px;
	background-color: #2d6a4f;
	color: #333;
	border: 1px solid transparent;
	border-radius: 25px;
	outline: none;
	cursor: pointer;
	box-shadow: 0px 8px 15px #fff;
	transition: 0.4s;
}
.inputGroup button:hover{
	background-color: #2e2e2e;
	color: #2d6a4f;
	box-shadow: 0px 0px 15px #fff;
	border: 1px solid #2d6a4f;
}
@media(max-width: 1100px){
	.messageForm .halfWidth{
		flex-basis: 100%;
	}
}
@media(max-width: 900px){
	.container .row{
		flex-wrap: wrap;
	}
	.row section.left, .row section.right{
		flex-basis: 100%;
		margin: 0px;
	}
}

/* Map */

.map-container{
    position: relative;
    width: 80%;
    height: 500px;
    margin-left: 50px;
	margin: 0 80px 10px auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mapBg{
    position: absolute;
    background-color: var(--primaryColor);
    top: 0;
    right: 0;
    width: 200px;
    height: 90%;
    border-radius: 20px;
}

.map{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

.map iframe{
    width: 100%;
    height: 100%;
}

/* FOOTER */

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

.social-media-icons {
    margin-bottom: 10px;
}

.social-icon {
    color: #ffffff;
    margin: 0 10px;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-bottom p {
    margin: 5px 0;
}

.footer-bottom a {
    color: #0077b5; /* LinkedIn Color */
    text-decoration: none;
    transition: color 0.3s;
}

.footer-bottom a:hover {
    color: #005582;
}
