* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body {
    background-color: #000000;
    color: #333;
    font-family: 'Oxygen', sans-serif;
}
html {
    overflow-x:hidden; /* Prevent horizontal scrolling */
}

header {
    color: white;
    padding: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.top {
    width: 100vw; 
    height:100vh; 
    background: url('man-7155142.jpg') no-repeat center center/cover;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    justify-content: center;
}

.logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.logo p{
    margin-top: 8px;
}

.logo-section{
    display: flex;
    flex-direction: row;
    position: absolute;
    left:30px;
    top:10px;
}

nav {
    flex: 1;
    text-align: right;
    padding:25px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap:20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: large;
}

.nav-links a:hover {
    color: #00b381;
}

.underline{
    width:155px;
    height:5px;
    margin:2px 0;
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        width: 100%;
        text-align: left;
    }

    .logo {
        margin-bottom: 1rem;
    }
}


.main-body{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.main-body h1 {
    position: absolute;
    top:40%;
    left:10%;
    color: #ffffff;
    font-size: 65px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.main-body-p{
    position: absolute;
    top:51%;
    left:11%;
    color: #00412e;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    padding:5px;
}

.main-body-des{
    position: absolute;
    top:58%;
    left:11%;
    color: #dfdfdf;
    font-size: 20px;
    text-decoration: none;
    width:50%;
    text-align: justify;
}

.main-body-btn{
    position: absolute;
    top:75%;
    left:11%;
    color: #cdcdcd;
    font-size: 20px;
    text-decoration: none;
    background-color: #7c7c7c;
    padding:10px 20px;
    transition: background-color 0.3s;
    border:none;
    cursor: pointer;
}

.main-body-btn:hover{
    background-color: #363636;
}

.section2{
    width:100vw;
    height:auto;
}

.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.card1, .card2{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 50%;
    position: relative;
    margin: auto;
}

.card1 img, .card2 img {
    width: 100%; /* Cover the full width of card1-img */
    height: 100%; /* Cover the full height of card1-img */
    object-fit: contain; /* Maintain aspect ratio */
}
  
.txt-card1 {
    flex-grow: 1; /* Take up the remaining space */
    height: 100%;
    background-color: #dadada;
    font-size: 45px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    flex-direction: column;
}

.txt-card1 p {
    font-size:medium;
    width:300px;
    text-align: justify;
    margin:15px;
}

.card-btn{
    background-color: #008e66;
    padding:10px 20px;
    transition: background-color 0.3s;
    border:none;
    cursor: pointer;
    color: #cdcdcd;
    margin: 10px;
    font-size: 15px;
}

.card-btn:hover{
    background-color: #005f45;
}

h1{
    color: #ffffff;
    font-size: 65px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin:10px;
}

h2{
    color: #ffffff;
    font-size: 45px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin:10px;
}
.section3 {
    width: 100vw;
    padding: 50px 0;
    background-color: #ffffff;
}

.section3 h2 {
    color: #2d6a4f;
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 50px;
}

.section3 p {
    color: #434242;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    width: 90%; /* Ensure the text takes up 60% of the width */
}

.sec3txt-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    flex-direction: row;
    width:100%;
}

.sec3text{
    width:70%;
    margin:10px;
}

.sec3img {
    width: 30%;
    height: auto;
    object-fit: contain; 
}

.sec3img img {
    width: 100%;
    height: auto;
    object-fit: contain; 
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
} 

.sec3img img:hover {
    transform: scale(1.05);
}


.section4 {
    width: 100vw;
    height: 200px;
    background-image: url(flora.jpg);
    background-repeat: no-repeat;
    background-size: cover; /* This will cover the entire section */
    text-align: center;
}

.statistics {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: transparent;
    text-align: center;
    font-family: Arial, sans-serif;
}
.stat {
    flex: 1;
}
.stat h2 {
    margin: 0;
    font-size: 2rem;
    color: #00b381;
}
.stat p {
    margin: 0;
    font-size: 1rem;
    color: #dfdfdf;
}

.material-symbols-outlined{
    color: #ffffff;
    font-size: 50px;
}

.section5 {
    width: 100vw;
    padding: 50px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section5 h2 {
    color: #2d6a4f;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    align-self: flex-start; /* Aligns the h2 to the left */
    margin-left: 0; /* Optional: Removes default margin */
}

.section5 p {
    color: #434242;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify; 
    margin: 20px auto;
    width: 85%;
}
/* 
.unique-section {
    width: 100vw;
    padding: 60px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unique-card-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}
.unique-rect-card {
    width: 30%;
    height: 300px;
    background-color: #2d6a4f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    text-align: center;
}

.unique-square-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 300px;
    margin:0 10px;
}

.unique-square-card {
    height: calc(50% - 10px);
    background-color: #dadada;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.unique-square-card:last-child {
    margin-bottom: 0;
} */


/* Container for the entire section */
.unique-section {
    width: 100vw;
    padding: 60px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Container for each row of cards */
.unique-card-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

/* Style for the rectangular card */
.unique-rect-card {
    width: 30%;
    height: 300px;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.unique-rect-card:hover {
    box-shadow: 0 5px 10px rgba(0, 97, 16, 0.9);
}

.unique-square-card:hover {
    box-shadow: 0 5px 10px rgba(0, 97, 16, 0.9);

}

/* Container for the square cards */
.unique-square-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35%;
    height: 300px;
    margin: 5px 10px;
}

/* Style for each square card */
.unique-square-card {
    height: calc(50% - 10px);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}

.unique-square-card:last-child {
    margin-bottom: 5px;
}

.cardtxt-sq{
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 90%;
    max-height: 85%;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cardtxt-rec{
    font-size: 20px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.8);
    max-width: 90%;
    max-height: 85%;
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cardtxt-rec:hover, .cardtxt-sq:hover{
    background-color: rgba(236, 255, 204, 0.9);
}

.cardtxt-rec h3, .cardtxt-sq h3{
    color: #00412e;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    margin:5px;
}

.cardtxt-rec p, .cardtxt-sq p{
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    max-width: 95%;
    margin:5px;
}

.section6 {
    position: relative;
    text-align: center;
    width: 100vw;
    padding: 50px 0;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video stays behind the content */
}

.content {
    position: relative;
    z-index: 1; /* Ensure content stays above the video */
    color: white; /* Change text color for visibility */
}

.section6 h2 {
    color: #ffffff;
    font-size: 42px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding-left: 50px;
}

.section6 p {
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5;

    color: #ffffff;
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    width: 85%; /* Ensure the text takes up 60% of the width */
}

.mentor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
}

.mentors {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 22%;
    text-align: center;
    transition: transform 0.3s;
}

.mentors:hover {
    transform: translateY(-10px);
}

.mentor-img img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.mentor-txt {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 400px;
}

.mentor-txt h6 {
    color: #2d6a4f;
    font-size: 18px;
    margin: 10px 0 5px;
    font-weight: bold;
}

.mentor-txt p {
    color: #777;
    font-size: 14px;
    margin: 0;
}

.mentor-social {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.mentor-social a {
    color: #777;
    font-size: 20px;
    margin: 0 5px;
    transition: color 0.3s;
    padding:5px;
    border: #ccc solid 2px;
}

.mentor-social a:hover i {
    color: #000000;
    transition: color 0.3s ease;
}

/* .mentor-social a:hover {
    color: #00b381;
    transition: color 0.3s ease;
    border: #00b381 solid 2px;
} */

.facebook:hover {
    background-color: #1877F2;
    transition: color 0.3s ease;
    border: #1877F2 solid 2px;
}

.twitter:hover {
    background-color: #3cb3fd;
    transition: color 0.3s ease;
    border: #3cb3fd solid 2px;
}

.instagram:hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888, #8a3ab9, #4a69bb, #1e96c8, #00b381);
    transition: color 0.3s ease;
    border: #fff solid 2px;
}

.linkedin:hover {
    background-color: #0077B5;
    transition: color 0.3s ease;
    border: #0077B5 solid 2px;
}

.mentor-social a i{
    color: #777;
    font-size: 20px;
    margin: 10px;
    transition: color 0.3s;
    gap: 10px;
}