* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Fira Sans', sans-serif;
}
html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    color: white;
    padding: 1rem 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.top {
    width: 100vw; 
    height:100vh; 
    background: url('man-7155142.jpg') no-repeat center center/cover;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align:center;
    justify-content: center;
}

.logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}
.logo p{
    margin-top: 8px;
}

.logo-section{
    display: flex;
    flex-direction: row;
    position: absolute;
    left:30px;
    top:10px;
}

nav {
    flex: 1;
    text-align: right;
    padding:25px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap:20px;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: large;
}

.nav-links a:hover {
    color: #00b381;
}

.underline{
    width:155px;
    height:5px;
    margin:2px 0;
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }

    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        width: 100%;
        text-align: left;
    }

    .logo {
        margin-bottom: 1rem;
    }
}


.main-body{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.main-body h1 {
    position: absolute;
    top:40%;
    left:10%;
    color: #ffffff;
    font-size: 65px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.main-body p{
    position: absolute;
    top:51%;
    left:11%;
    color: #00845e;
    font-size: 25px;
    text-decoration: none;
    font-weight: bold;
}

.section2{
    width:100%;
    height:auto;
}

h1{
    color: #ffffff;
    font-size: 65px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin:10px;
}

h2{
    color: #ffffff;
    font-size: 45px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin:10px;
}