* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxygen', sans-serif;
}

body {
  background-color: #E5E5E5;
  color: #333;
  font-family: 'Oxygen', sans-serif;
}


html {
  overflow-x:hidden; /* Prevent horizontal scrolling */
}

/*----------------------------------------- MAIN CODE STYLE -------------------------------------------------------*/
header {
  color: rgb(255, 255, 255);
  padding: 1rem 0;
}


  body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background: white;
  }
  


/*--------------------------------------------------- NAVBAR STYLE --------------------------------------------------*/

/* Navbar styling */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: linear-gradient(to right, #ccc8c8fa, #ddd9d9);
  padding: 5px 2rem;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgb(185, 180, 180);
}

.logo-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.logo img {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.logo img:hover {
  transform: scale(1.1);
}

.logo p {
  margin-top: 3px;
  font-weight: 600;
  color: rgba(6, 49, 23, 0.959);
  font-size: 16px;
}

nav {
  flex: 1;
  text-align: right;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  position: relative;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: rgb(42, 39, 39);
  text-decoration: none;
  font-weight: bold;
  font-size: medium;
  transition: all 0.3s ease-in-out;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
}

/* Hover underline effect */
.nav-links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 0;
  background-color: #0aa148;
  transition: width 0.3s ease-in-out;
}


.nav-links a:hover::after {
  width: 100%;
}

/* Active link with background */
.nav-links a.active {
  background-color: #0aa148;
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.nav-links a.active::after {
  background-color: transparent; /* Remove hover line for the active link */
}
.nav-links a:hover{
color: rgb(13, 114, 13);
}


@media screen and (max-width:1000px) {
  .nav-links li{
      margin-left: 7px;
  }
  .nav-links{
      gap: 5px;
  }
  .nav-links a{
      padding: 5px 8px;
  }
  .nav-links a{
      font-size:14px;
  }
}
@media screen and (max-width:760px) {
  .logo img{
      width: 50px;
      height:50px;
  }
  .logo p{
      font-size: 14px;
  }
}

@media screen and (max-width:700px){
  .nav-links a{
      font-size: 11px;
  }
  .nav-links li{
      margin-left: 3px;
  }
}

@media screen and (max-width:600px){
  
  .fa-bars{
      font-size: x-large;
      color: black;
  }
  .container{
      position: fixed;
  }
  .nav-links {
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      flex-direction: column;
      text-align: center;
      background: linear-gradient(to right, #ccc8c8fa, #ddd9d9);
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      
  }
  
  .nav-links {
      gap: 20px;
  }
  .nav-links a{
      font-size: 12px;
      padding: 8px 0;
      display: block;
      width:100%;
      height: 100%;
  }
  .nav-links li{
      margin-left: 0px;
      width: 100%;
      
  }
  
}
@media screen and (min-width:600px){
  .fa-bars{
      display: none !important;
  }
  
}

@media screen and (max-width:500px){
  .logo img{
      width: 35px;
      height:35px;
  }
  .logo p{
      font-size: 10px;
  }
}
  /* navbar styling end */


/* ----------------------------------- AVAILABLE JOB ROLES STYLE SECTION-------------------------------------------------*/

.what-we-need {
  padding: 50px 20px;
  background-color: #d9f3e2;
  text-align: center;
}

.what-we-need h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: rgb(45,106,77);
}

.what-we-need .roles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.role {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  flex: 1 1 calc(30% - 20px); 
  max-width: calc(30% - 20px); 
  min-width: 250px; 
  transition: transform 0.3s;
  color: rgb(255, 255, 255);
  background-color: rgb(45,106,77);
}


.role:hover {
  transform: scale(1.05);
}

.role h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.role p {
  font-size: 1em;
  color: #ffffff;
}

.section h2 {
  text-align: center;
}



/*----------------------------------------- OUR MISSION STYLE --------------------------------------------*/

.ourvol{
  text-align: center;
  font-size: 1.4em;
  padding:10px;
        
}
.missions {
  width: 100%;
  margin-top:-100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px;
  background-image: url('bg.jpeg');
  background-position: center;
  background-repeat: repeat;
  border-radius: 8px;
  box-sizing: border-box;
  gap: 50px;
  }

  .mission-item {
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    width: 100%; 
    height:200px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
    
      .mission-item:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
      }
      
      .mission-section {
        flex: 2; 
      }
      
      .mission-img {
        flex: 1; 
        display: flex;
        justify-content: center;
        align-items: center;
        
      }
      
      .mission-img img {
        width: 200px;
        height: auto;
        border-radius: 10px;
        height:180px;
      }
      
      .mission-item h2 {
        font-size: 24px;
        color: rgb(17, 47, 8);
        margin-bottom: 10px;
      }
      
      .mission-item ul {
        text-align: left;
        margin-left: 20px;
      }
      
      .mission-item ul li {
        font-size: 16px;
        margin-bottom: 8px;
      }



/*--------------------------------- OUR VOLUNTEERS SECTION STYLE ------------------------------------------*/



/* .volun {
  padding: 20px;
  text-align: left;
}

.volun h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color:rgb(45,106,77);
}

.volun p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.volunteers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.volunteer-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 15px;
  text-align: left;
  transition: transform 0.2s;
}

.volunteer-card:hover {
  transform: scale(1.05);
}

.volunteer-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.volunteer-card h2 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: rgb(45,106,77);
}

.volunteer-card p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.5;
} */
/* 

.section-team {
  width:100vw;
  padding: 60px 20px;
  background-color: #f5f5f5;
}

.section-team h2 {
  color: #2d6a4f;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  padding-left: 60px;
}

.section-team p {
  
  color: #434242;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 20px;
  width: 90%; 
  margin-left: auto;
  margin-right: auto;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.team-cards-wrapper {
  width: 100%; 
  overflow: hidden;
  position: relative;
}

.team-cards {
  display: flex;
  transition: transform 0.3s ease-in-out;
  white-space: nowrap;
}

.team-member {
  flex: 0 0 32%; 
  margin-right: 2%;
  white-space: normal;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
  height:600px;
  max-height: 600px;
}

.team-img img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  min-height: auto;

}

.team-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  min-height: 400px;
}

.team-info h6 {
  color: #2d6a4f;
  font-size: 18px;
  margin: 10px 0 5px;
  font-weight: bold;
}

.team-info p {
  color: #777;
  font-size: 13px;
  margin: 0;
}

.arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

@media (max-width: 768px) {
  .team-member {
      width: 90%;
  }

  .team-cards-wrapper {
      width: 100%;
  }
 

}

.carousel-container {
  display: flex;
  align-items: center;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.team-cards-wrapper {
  overflow: hidden;
  width: 80%;
  position: relative;
}

.team-cards {
  display: flex;
  transition: transform 0.3s ease;
}

.arrow{
  background-color: rgba(151, 151, 151, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.arrow:hover {
  background-color: rgba(151, 151, 151, 0.8); 
}



strong{
  color: #000000;
  font-weight: bold;
  text-align: left !important;
  padding: 5px 0;
}

.our_volunteers_button{
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
width: 50%; 
text-align: center; 
margin: 7px 0 7px 0; 
padding: 10px; 
background-color: #1a7d3a;
color: white;
font-size: 20px;
border: none;
border-radius: 25px;
cursor: pointer;
}

.our_volunteers_button:hover {
background-color: #145a2f;
} */

/* General Styling */
.section-team {
  width: 100vw;
  padding: 60px 20px;
  background-color: #f5f5f5;
}

.section-team h2 {
  color: #2d6a4f;
  font-size: 42px;
  padding-left: 50px;
  font-weight: bold;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.section-team p {
  color: #434242;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.team-cards-wrapper {
  width: 80%;
  overflow: hidden;
  position: relative;
}

.team-cards {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.team-member {
  flex: 0 0 30%;
  margin: 0 1%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.team-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.team-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.team-info h6 {
  color: #2d6a4f;
  font-size: 18px;
  margin: 10px 0 5px;
  font-weight: bold;
}

.team-info p {
  color: #777;
  font-size: 14px;
  margin: 0;
}

.our_volunteers_button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 70%;
  padding: 10px;
  background-color: #1a7d3a;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 30px;
}

.our_volunteers_button:hover {
  background-color: #145a2f;
}

.arrow {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .team-member {
    flex: 0 0 45%;
    margin: 0px;
  }

  .team-info h6 {
    font-size: 16px;
    margin:0px;
  }

  .team-info p {
    font-size: 12px;
  }

  .our_volunteers_button {
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .team-member {
    flex: 0 0 90%;
    margin: 5%;
  }

  .team-info p {
    font-size: 12px;
  }

  .carousel-container {
    flex-direction: column;
  }

  .arrow {
    font-size: 18px;
    padding: 5px;
  }
}



/*---------------------------------------FOOTER SECTION STYLE --------------------------------------------*/

/* footer  code starts  */
.footerContainer{
  background:#F5F5F5;
}
footer{
  width: 100%;
  /* position: absolute; */
  bottom: 0;
  background: linear-gradient(to right, #262525, #131111);

  color: #eee5e5;
  padding: 100px 0 30px;
   border-top-left-radius: 5px;
  /* border-top-right-radius: 20px; */
  font-size:13px ;
  line-height: 20px;
  box-shadow: 0 -3px 3px rgba(194, 194, 194, 0.708);
}
.footerRow{
  width: 85%;
  margin:auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.footercol{
  flex-basis: 25%;
  padding: 10px;

}
.footercol:nth-child(2),.footercol:nth-child(3){
  flex-basis:17%;
  
}

.footercol .logo{
  width: 80px;
  margin-bottom: 30px;
  border-radius: 100px;
  
}


.footercol h3{
  width: fit-content;
  color: #008E66;
  margin-bottom: 30px;
  position: relative;
  font-weight:bold;
  
 
  font-style: normal;
  font-size:large;
height: fit-content;    
  




}

.footercol ul li{
  list-style: none;
  margin-bottom: 12px;
}
.footercol ul li a{
  text-decoration: none;
  color: rgb(203, 197, 197);
  font-weight: 600;
  text-decoration: underline;
}
.footercol ul li a:hover{
  color: rgba(22, 151, 48, 0.719);
}



.footer .social-icons .fa-brands{
  width:40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000;
  background: #fff;
  margin-right: 15px;
  cursor: pointer;
  

}
.footer .social-icons .fa-brands:hover{
   scale: 1.1;
   transition: scale 0.3s ease;
   box-shadow: 0 0 10px rgba(226, 226, 228, 0.795);
  
   color: white;
}
.footer .social-icons .fa-facebook{
  background: linear-gradient(
      to right,
      #1877F2,
      #2851A3
    );
  color: #fff;}
.footer .social-icons .fa-linkedin{
  background: linear-gradient(
      to right,
      #0077B5,
      #004182
    );color: #fff;}
.footer .social-icons .fa-whatsapp{
  background: linear-gradient(
      135deg,
      #25D366,
      #128C7E
    );color: #fff;}
.footer .social-icons .fa-instagram
{
  background: linear-gradient(
  45deg,
  #f09433 0%,
  #e6683c 25%,
  #dc2743 50%,
  #cc2366 75%,
  #bc1888 100%
);color: #fff;
}

footer hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;


}

#footerScanAndDonate{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footerScanAndDonate img{
width: 100%;
height: 220px;
object-fit: contain;
}
footer .copyright{
  text-align: center;
}
footer .underline{
  width: 100%;
  height:4px;
  background: #234e2a7b;
  border-radius: 3px;
  position: absolute;
  left: 0;
  bottom: -9;
  overflow: hidden;
}
footer .underline span{
  width: 28px;
  height: 100%;
  background: #29ba6a9c;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite ;
  
}
.footerLocation{
  display: flex;
  align-items: center;
  gap: 8px;
}
.emailHere{
  display: flex;
  align-items: center;
 margin-top: 10px;
  gap: 8px;
}
.telephoneInfo{
  display: flex;
  align-items: center;
 margin-top: 10px;
  gap: 8px;
}
.footerLocation2{
  display:flex;
  align-items: center;
  gap: 8px;
  margin: 10px 0 0 0;
}
#office{
  color:#b3adad;
  font-size: 14px;
}
.footerCopyrightSection{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* padding: 0 60px; */

}
.aboutInFooter{
  color: rgb(212, 203, 203);
  font-size: normal;
  font-weight: 500;
}
.footerCopyrightSection p{
  letter-spacing: 3px;
}
.footerCopyrightSection .copyright span{
  color: #008e66;
  font-weight: 600;
}

#firstFooterCol p{
 letter-spacing: 1.2px; 
 font-size:14px;
}

.newsletterSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 50vh;
  margin: auto;
  position: relative; /* Required for z-index to work */
  z-index: 1;
  background-image: url("donation.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 10px;
}
.outerNewsletter{
  background: #fcf9f962;
  width: 90%;
  border-radius: 10px;
}
.blurBlack{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color:rgba(110, 104, 104, 0.331);
}
.contentNewsletter{
  position: relative;
  z-index: 2;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 95%;
  background:rgba(185, 184, 184, 0.249);
  height: 100%;
  padding: 20px;
  margin: auto;
  color: black;
  border-radius: 10px;
  
}
.contentNewsletter h3{
  color: black;
  font-style:normal;
  font-weight: bold;
  font-size: large;
  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  text-align: center;
  
}
.contentNewsletter p{
  letter-spacing: 1.5px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;

}

.contentNewsletter form{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contentNewsletter form  input{
  width: 70%;
  padding: 15px 23px;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 12px;
}
.contentNewsletter form .fa-solid{
  font-size: 22px;
  margin-right: 5px;
}
.contentNewsletter form button {
  padding: 15px 23px;
  background: #008e66;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s ease;
  width: 70%;
  margin:auto;
}
.contentNewsletter form button:hover{
  background-color: #29ba6a;
}
#joinN{
  text-align: center;
  /* margin-bottom: 10px; */
  color: #008E66;
  position: relative;
  width: fit-content;
  margin: auto;
  margin-bottom: 20px ;
  font-size: large;

}
@keyframes moving{
  0%{
      left:-20px
  }
  100%{
      left:100%
  }
}
@media screen and (max-width:700px) {
  footer{
      bottom: unset;
      padding-top: 30px;
  }
  .footer .logo{
      width: 60px;
      border-radius:50%;
  }
  .footercol{
      flex-basis: 100%;
      
      /* padding: 10px; */
  
  }
  .footercol:nth-child(2),.footercol:nth-child(3){
      flex-basis: 100%;
  }
  #firstFooterCol{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
   }
   .newsletterSection{
      width: 70%;
   }
   .contentNewsletter h3{
      font-size: medium;
   }
   .contentNewsletter p{
      font-size: 12px;
   }
   .contentNewsletter form input{
      width: 80%;
      padding: 10px 15px;

   }
   .contentNewsletter form button{
      width: fit-content;
      padding: 10px 15px;
      font-size: 10px;
      
      
   }
}
@media  (min-width:700px) and (max-width:1100px) {
footer{
  bottom:unset;
  padding-top: 30px;
}

.footercol:nth-child(1){
  flex-basis: 100%;
}
.footercol:nth-child(2),.footercol:nth-child(3),.footercol:nth-child(4){
  /* width: fit-content; */
  flex-basis:29%;
}
}

@media screen and (max-width:1000px) {
  .footerCopyrightSection{
      flex-direction: column;
      align-items: center;
      gap: 12px;
  }
}



/* footer code ends  */



/*--------------------------------------- RESPONSIVE DESIGN STYLE -----------------------------------------*/

@media (max-width: 768px) {
  .volunteer-card {
      width: 90%;
  }
}

@media (max-width: 480px) {
  section h1 {
      font-size: 1.5rem;
  }

  section p {
      font-size: 0.9rem;
  }
}


@media (max-width: 768px) {
    .nav-links {
      display: block;
      order: 1;
      margin-top: -15px;
      margin-right: 5px;
    }
  }


@media (max-width: 850px) {
    .logo img{
      height: 55px;
      width: 55px;
    }
    .logo p{
      font-size: smaller;
    }
    .logo-section{
      left: 15px;
      
    }
}


@media (max-width: 768px){
  .logo img{
    height: 45px;
    width: 45px;
  }
  .logo p{
    font-size: smaller;
  }
  .logo-section{
    left: 10px;
    top: 13px;
  }
       
}


@media (min-width: 768px) {
  header h1 {
      font-size: 3.5rem;
  }


  .hero h2 {
      font-size: 3rem;
  }


  .hero p {
      font-size: 1.5rem;
  }
}

