
.carousel_container {
  padding-top:100px;
  position: relative;
  width: 100%; /* Full width */
  height: 600px; /* Fixed height */
  overflow: hidden;
}

.mySlides {
  display: none;
  width: 100%;
  height: 100%; /* Ensures the carousel height remains fixed */
  position: relative;
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures consistent scaling of images */
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  user-select: none;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.slide-text {
  position: absolute;
  top: 40%;
  left: 5%;
  font-weight: 800;
  transform: translateY(-50%);
  color:rgb(20, 90, 47);
  text-align: left;
  font-size: 2rem;
  background-color: rgba(255, 255, 255,0.6);
  padding: 20px;
  border-radius: 8px;
  max-width: 70%; /* Adjust to control text wrapping */
}

.description-text {
  position: absolute;
  text-align: left;
  align-items: left;
  font-weight: 600;
  top: 62%; /* Positioned below the heading text */
  left: 5%;
  transform: translateY(-50%);
  color: white;
  font-size: 18px;
  background-color: rgba(20, 90, 47,0.6); 
  /* padding: 15px; */
  padding-left: 20px;
  border-radius: 8px;
  max-width: 70%; /* Same width as the heading text */
}

.navigate-btn {
  position: absolute;
  top: 70%;
  left: 12%;
  transform: translateX(-50%);
  background-color: rgba(252, 252, 252, 0.8);
  color: rgba(20, 90, 47,0.8);
  border-color: rgba(20, 90, 47,0.8);
  padding: 15px 26px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-width: 1px;
  border-style: solid;
}

.navigate-btn:hover {
  background-color: rgba(20, 90, 47,0.7);
  color:white;
}

@media (max-width: 540px) {
  .slide-text {
    left: 5%;
    font-weight: 800;
    transform: translateY(-50%);
    text-align: left;
    font-size: 23px;
    background-color: rgba(255, 255, 255,0.7);
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    top: 60%;
    padding-left: 5%;
    text-align: left; 
    background-color: rgba(255, 255, 255,0.7);
    color: #145a2f;
}

.description-text {
    background-color: transparent;
    color: transparent;
}

.navigate-btn {
  position: absolute;
  top: 77%;
  left: 19%;
  transform: translateX(-50%);
  background-color: rgba(20, 90, 47,0.8);
  color: rgba(252, 252, 252, 0.8);
  border-color: rgba(20, 90, 47,0.8);
  padding: 15px 26px;
  font-size: 16px;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-width: 1px;
  border-style: solid;
  font-size: 0.9rem;
  padding: 8px 16px;
}
.navigate-btn:hover{
  background-color: rgba(252, 252, 252, 1);
  color: rgba(11, 67, 32, 0.8);
}

.prev, .next {
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 0px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  user-select: none;
}

.prev:hover, .next:hover {
  background-color: none;
}


}  

@media (max-width:1050px){

.slide-text {
  position: absolute;
  top: 40%;
  left: 5%;
  font-weight: 800;
  transform: translateY(-50%);
  color:rgb(20, 90, 47);
  text-align: left;
  font-size: 28px;
  background-color: rgba(255, 255, 255,0.6);
  padding: 20px;
  border-radius: 8px;
  max-width: 70%; /* Adjust to control text wrapping */
}

.description-text {
  top: 64%;
  left: 5%;
  transform: translateY(-50%);
  color: white;
  font-size: 16px;
  background-color: rgba(20, 90, 47,0.6); 
  padding-left: 20px;
  border-radius: 8px;
  max-width: 70%;
}

.navigate-btn {
  position: absolute;
  top: 74%;
  left: 15%;
  transform: translateX(-50%);
  background-color: rgba(252, 252, 252, 0.8);
  color: rgba(20, 90, 47,0.8);
  border-color: rgba(20, 90, 47,0.8);
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 800;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-width: 1px;
  border-style: solid;
  font-size: 0.9rem;
 
}
.navigate-btn:hover{
  background-color: rgba(252, 252, 252, 1);
  color: rgba(11, 67, 32, 0.8);
}


}

@media (max-width: 468px) {
  .slide-text {
      left: 5%;
      font-weight: 800;
      transform: translateY(-50%);
      text-align: left;
      font-size: 2rem;
      background-color: rgba(255, 255, 255,0.7);
      padding: 20px;
      border-radius: 8px;
      max-width: 80%;
      top: 60%;
      padding-left: 5%;
      text-align: left;
      font-weight: 800; 
      background-color: rgba(255, 255, 255,0.7);
      color: #145a2f;
  }

  .description-text {
      background-color: transparent;
      color: transparent;
  }

  .navigate-btn {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translateX(-50%);
    background-color: rgba(20, 90, 47,0.8);
    color: rgba(252, 252, 252, 0.8);
    border-color: rgba(20, 90, 47,0.8);
    padding: 15px 26px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-width: 1px;
    border-style: solid;
    font-size: 0.9rem;
    padding: 8px 16px;
  }
  .navigate-btn:hover{
    background-color: rgba(252, 252, 252, 1);
    color: rgba(11, 67, 32, 0.8);
  }

  .prev, .next {
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 0px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    user-select: none;
  }

  .prev:hover, .next:hover {
    background-color: none;
  }
} 

/* 
@media (max-width: 768px) {
  .slide-text {
    left: 5%;
    font-weight: 800;
    transform: translateY(-50%);
    text-align: left;
    font-size: 18px;
    background-color: rgba(255, 255, 255,0.7);
    padding: 20px;
    border-radius: 8px;
    max-width: 80%;
    top: 40%;
    padding-left: 5%;
    text-align: left;
    font-weight: 800; 
    background-color: rgba(255, 255, 255,0.7);
    color: #145a2f;
}
  .description-text {
    top: 61%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
    font-size: 13px;
    background-color: rgba(20, 90, 47,0.6); 
    padding-left: 20px;
    border-radius: 8px;
    max-width: 70%;
  }
  

  .navigate-btn {
    position: absolute;
    top: 72%;
    left: 18%;
    transform: translateX(-50%);
    background-color: rgba(20, 90, 47,0.8);
    color: rgba(252, 252, 252, 0.8);
    border-color: rgba(20, 90, 47,0.8);
    padding: 15px 26px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-width: 1px;
    border-style: solid;
    font-size: 0.9rem;
    padding: 8px 16px;
  }
  .navigate-btn:hover{
    background-color: rgba(252, 252, 252, 1);
    color: rgba(11, 67, 32, 0.8);
  }

  .prev, .next {
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 0px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    user-select: none;
  }

  .prev:hover, .next:hover {
    background-color: none;
  }
}  */



/* @media(max-width:768px){
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
      
        width: auto;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 10px;
        border-radius: 3px;
        user-select: none;
      }
      
      .prev {
        left: 10px;
        background-color: none;
      }
      
      .next {
        right: 10px;
        background-color: none;
      }
      
      .prev:hover, .next:hover {
        background-color: none;
      }
} */

@media (max-width: 480px) {
  .slide-text {
      font-size: 1.2rem; /* Further reduced heading size */
  }

  .description-text {
      font-size: 0.8rem; /* Further reduced description size */
  }
}
